:root{
  --background-color:#b7d4ab;


}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: bold;
}


#main {
  width: 360px;
  height:420px;
  background-color: var(--background-color);
  margin:100px auto;
  border: 10px solid black;
  border-radius:40px;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content:space-around;
}


#stage{ 
  width:304px;
  height:304px;
  border:2px solid black;
  position:relative;

}

#score-panel{
  width:300px;
  display:flex;
  justify-content:space-between;

  color:"black";
}


#snake div{
  color:"red";
  width:10px;
  height:10px;
  background-color:#000;
  border:1px solid var(--background-color);
  position:absolute;
  display: flex;
}

#food{
  height:10px;
  width:10px;
  position: absolute;
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:space-between;
  left:40px;
  top:40px;

}

#food div{
  width:4px;
  height:4px;
  background-color:#000;
  transform:rotate(45deg);

}